.calltoaction1 {
  height: 40vh;
  overflow-x: hidden;
  background: url(../Image/back2.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center center;
  position: relative;

  background-color: rgba(0, 0, 0, 0.5);

  .call-title {
    display: grid;
    place-items: center;
    margin-top: 5rem;
    color: #fff;
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
    }
    p {
      margin-top: 1rem;
      text-align: center;
    }
    .btn {
      margin-top: 2rem;
    }
  }
}
.history {
  overflow-x: hidden;
  background: url(../Image/glue3.svg) no-repeat;
  background-size: 10rem;
  background-blend-mode: overlay;
  background-position: center center;
  .container {
    margin-top: 2rem;
    display: grid;
    place-items: center;
    .history-title {
      h3 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary-color;
      }
    }
    .history-desc {
      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1rem;

        color: $primary-color;
      }
    }
    button {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
.team {
  .container {
    h3 {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .team-img {
      display: grid;
      place-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      img {
        width: 35rem;
      }
    }
    .team-desc {
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}
@include responsive($md) {
  .calltoaction1 {
    .call-title {
      margin-top: 8rem;

      h3 {
        font-size: 1.5rem;
      }
      p {
        margin-top: 1rem;
      }
    }
  }

  .history {
    .container {
      .history-title {
        margin-top: 3rem;
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
  .team {
    margin-bottom: 3rem;
    .container {
      h3 {
     
        font-size: 1.5rem;
       
        margin-top: 3rem;
       
      }
      .team-all{
        display: flex;
        .team-img {
          display: grid;
          place-items: center;
          margin-top: 3rem;
          margin-bottom: 1rem;
          img {
            width: 105rem;
          }
        }
        .team-desc {
          margin-top: 3rem;
          margin-bottom: 1rem;
          text-align: left;
          margin-left: 2rem;
          h2{
            color: $primary-color;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
          }
          p{
            color: $primary-color;
          }
        }
      }
  
    }
  }

}
@include responsive($xl) {
  .calltoaction1 {
    height: 60vh;

    .call-title {
      margin-top: 12rem;

      h3 {
        font-size: 2rem;
      }
      p {
        margin-left: 15rem;
        margin-right: 15rem;
        margin-top: 1rem;
        font-size: 1.3rem;
      }
    }
  }

  .history {
    .container {
     
      .history-desc{
        margin-left: 7rem;
        margin-right: 7rem;
      }
    }
  }
  .team {
    
    .container {
    
      .team-all{
    //  justify-content: right;
        .team-img {
      
          img {
            width: 100rem;
          }
        }
        .team-desc {
          margin-top: 3rem;
          margin-bottom: 1rem;
          text-align: left;
          margin-left: 2rem;
          h2{
            color: $primary-color;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
          }
          p{
            margin-right: 10rem;
            color: $primary-color;
          }
        }
      }
  
    }
  }

}